<div class="blog">
  <div class="container">
    <div class="blog-title">
      Блог
    </div>
    <div class="blog-head">
      <div class="blog-head-checked">
        <span>Дизайн</span>
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_8451_586)">
            <line x1="1.93553" y1="3.15002" x2="13.9563" y2="15.1708" stroke="#709FDC" stroke-linecap="round"/>
            <line x1="13.9236" y1="3.12984" x2="1.90278" y2="15.1507" stroke="#709FDC" stroke-linecap="round"/>
          </g>
        </svg>
      </div>
      <div class="blog-head-filter open">
        <div class="blog-head-filter-main">
          <span>Фильтр</span>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 14.5C9.41668 14.5 8.83335 14.275 8.39168 13.8334L2.95835 8.40003C2.71668 8.15837 2.71668 7.75837 2.95835 7.5167C3.20002 7.27503 3.60002 7.27503 3.84168 7.5167L9.27502 12.95C9.67502 13.35 10.325 13.35 10.725 12.95L16.1583 7.5167C16.4 7.27503 16.8 7.27503 17.0417 7.5167C17.2833 7.75837 17.2833 8.15837 17.0417 8.40003L11.6083 13.8334C11.1667 14.275 10.5833 14.5 10 14.5Z"
              fill="#071739"/>
          </svg>
        </div>
        <div class="blog-head-filter-body">
          <div class="blog-head-filter-body-item">
            <span>Фриланс</span>
            <span>+</span>
          </div>
          <div class="blog-head-filter-body-item active">
            <span>Дизайн</span>
            <span>-</span>
          </div>
          <div class="blog-head-filter-body-item">
            <span>SMM</span>
            <span>+</span>
          </div>
          <div class="blog-head-filter-body-item">
            <span>Таргет</span>
            <span>+</span>
          </div>
          <div class="blog-head-filter-body-item">
            <span>Копирайтинг</span>
            <span>+</span>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-articles">
      <article-card *ngFor="let article of articles" [article]="article"></article-card>
    </div>
    <div class="blog-pagination">
      <div class="blog-pagination-arrow">
        <img src="assets/images/page/previous-pagination-disabled.png" alt="Arrow">
<!--        <img src="assets/images/page/previous-pagination.png" alt="Arrow">-->
      </div>
      <div class="blog-pagination-pages">
        <a class="blog-pagination-page active">1</a>
        <a class="blog-pagination-page">2</a>
        <a class="blog-pagination-page">3</a>
        <a class="blog-pagination-page">4</a>
        <a class="blog-pagination-page">5</a>
      </div>
      <div class="blog-pagination-arrow">
<!--        <img src="assets/images/page/next-pagination-disabled.png" alt="Arrow">-->
        <img src="assets/images/page/next-pagination.png" alt="Arrow">
      </div>
    </div>
  </div>
</div>
