@import "../../../../assets/styles/variables";

.articles-item {
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 292px;
  height: calc(100% - 40px);
  margin-bottom: 40px;

  .articles-item-name {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 89px;
    height: 34px;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: $base-blue-color;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .articles-item-image {
    width: 290px;
    height: 290px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .articles-item-title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $base-blue-color;
    margin-bottom: 20px;
  }

  .articles-item-text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $base-black-color;
    margin-bottom: 20px;
    max-width: 286px;
  }

  .articles-item-active {

    a {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $base-blue-color;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid $base-blue-color;
    }
  }
}
