<section class="main">
  <div class="container">
    <div class="main-info">
      <div class="main-pre-title">
        Предложение месяца
      </div>
      <div class="main-title">
        Продвижение в Instagram для вашего бизнеса -15%!
      </div>
      <button class="button">
        Подробнее
      </button>
    </div>
    <div class="main-image">
      <img src="assets/images/page/main.png" alt="Main">
    </div>
  </div>
</section>

<section class="services">
  <div class="container">
    <div class="services-title">
      Услуги, которые мы предлагаем
    </div>
    <div class="services-items">
      <div class="services-item">
        <div class="services-item-image">
          <img src="assets/images/page/service1.png" alt="Service">
        </div>
        <div class="services-item-title">
          Создание сайтов
        </div>
        <div class="services-item-text">
          В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
        </div>
        <div class="services-item-active">
          <div class="services-item-active-price">
            От 7 500₽
          </div>
          <button class="button">
            Подробнее
          </button>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-image">
          <img src="assets/images/page/service2.png" alt="Service">
        </div>
        <div class="services-item-title">
          Продвижение
        </div>
        <div class="services-item-text">
          Вам нужен качественный SMM-специалист или грамотный таргетолог? Мы готовы оказать Вам услугу “Продвижения” на
          наивысшем уровне!
        </div>
        <div class="services-item-active">
          <div class="services-item-active-price">
            От 3 500₽
          </div>
          <button class="button">
            Подробнее
          </button>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-image">
          <img src="assets/images/page/service3.png" alt="Service">
        </div>
        <div class="services-item-title">
          Реклама
        </div>
        <div class="services-item-text">
          Без рекламы не может обойтись ни один бизнес или специалист. Обращаясь к нам, мы гарантируем быстрый прирост
          клиентов за счёт правильно настроенной рекламы.
        </div>
        <div class="services-item-active">
          <div class="services-item-active-price">
            От 1 000₽
          </div>
          <button class="button">
            Подробнее
          </button>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-image">
          <img src="assets/images/page/service4.png" alt="Service">
        </div>
        <div class="services-item-title">
          Копирайтинг
        </div>
        <div class="services-item-text">
          Наши копирайтеры готовы написать Вам любые продающие текста, которые не только обеспечат рост охватов, но и
          помогут выйти на новый уровень в продажах.
        </div>
        <div class="services-item-active">
          <div class="services-item-active-price">
            От 750₽
          </div>
          <button class="button">
            Подробнее
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="advantages">
  <div class="container">
    <div class="advantages-image">
      <img src="assets/images/page/advantage.png" alt="Advantage">
    </div>
    <div class="advantages-info">
      <div class="advantages-info-title">
        Кто мы и чем мы занимаемся?
      </div>
      <div class="advantages-info-text">
        <span>АйтиШторм</span> — это ваш помощник №1 при решении таких вопросов, как продвижение в сети, разработка
        сайтов для
        бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг, разработка визуальной концепции и создание
        инфопродуктов. Компания была основана в 2019 году и за всё это время смогла выйти в ТОП-10 агенств, предлагающих
        услуги продвижения в сети.
      </div>
      <div class="advantages-info-name">
        Наши преимущества
      </div>
      <div class="advantages-info-items">
        <div class="advantages-info-item">
          <div class="advantages-info-item-number">
            <span>1</span>
          </div>
          <div class="advantages-info-item-description">
            <span>Мастерски вовлекаем аудиториюв процесс.</span> Мы увеличиваем процент вовлечённости за короткий
            промежуток времени.
          </div>
        </div>
        <div class="advantages-info-item">
          <div class="advantages-info-item-number">
            <span>2</span>
          </div>
          <div class="advantages-info-item-description">
            <span>Разрабатываем бомбическую визуальную концепцию.</span> Наши специалисты знают как создать уникальный
            образ вашего проекта.
          </div>
        </div>
        <div class="advantages-info-item">
          <div class="advantages-info-item-number">
            <span>3</span>
          </div>
          <div class="advantages-info-item-description">
            <span>Создаём мощные воронки с помощью текстов.</span> Наши копирайтеры создают не только вкусные текста, но
            и классные воронки.
          </div>
        </div>
        <div class="advantages-info-item">
          <div class="advantages-info-item-number">
            <span>4</span>
          </div>
          <div class="advantages-info-item-description">
            <span>Помогаем продавать больше.</span> Мы не только помогаем разработать стратегию по продажам, но также
            корректируем её под нужды заказчика.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="articles">
  <div class="container">
    <div class="articles-title">
      Популярные статьи из блога
    </div>
    <div class="articles-items">
      <div class="articles-item">
        <div class="articles-item-name">
          Фриланс
        </div>
        <div class="articles-item-image">
          <img src="assets/images/page/article.png" alt="Article">
        </div>
        <div class="articles-item-title">
          6 сайтов для повышения продуктивности
        </div>
        <div class="articles-item-text">
          Хотите проводить время в сети с пользой? Наша подборка из шести полезных, но малоизвестных сайтов увеличит
          вашу продуктивность, поможет успевать больше в течение дня и всегда быть на шаг впереди!
        </div>
        <div class="articles-item-active">
          <a href="#">Читать дальше</a>
        </div>
      </div>
      <div class="articles-item">
        <div class="articles-item-name">
          Фриланс
        </div>
        <div class="articles-item-image">
          <img src="assets/images/page/article.png" alt="Article">
        </div>
        <div class="articles-item-title">
          6 сайтов для повышения продуктивности
        </div>
        <div class="articles-item-text">
          Хотите проводить время в сети с пользой? Наша подборка из шести полезных, но малоизвестных сайтов увеличит
          вашу продуктивность, поможет успевать больше в течение дня и всегда быть на шаг впереди!
        </div>
        <div class="articles-item-active">
          <a href="#">Читать дальше</a>
        </div>
      </div>
      <div class="articles-item">
        <div class="articles-item-name">
          Фриланс
        </div>
        <div class="articles-item-image">
          <img src="assets/images/page/article.png" alt="Article">
        </div>
        <div class="articles-item-title">
          6 сайтов для повышения продуктивности
        </div>
        <div class="articles-item-text">
          Хотите проводить время в сети с пользой? Наша подборка из шести полезных, но малоизвестных сайтов увеличит
          вашу продуктивность, поможет успевать больше в течение дня и всегда быть на шаг впереди!
        </div>
        <div class="articles-item-active">
          <a href="#">Читать дальше</a>
        </div>
      </div>
      <div class="articles-item">
        <div class="articles-item-name">
          Фриланс
        </div>
        <div class="articles-item-image">
          <img src="assets/images/page/article.png" alt="Article">
        </div>
        <div class="articles-item-title">
          6 сайтов для повышения продуктивности
        </div>
        <div class="articles-item-text">
          Хотите проводить время в сети с пользой? Наша подборка из шести полезных, но малоизвестных сайтов увеличит
          вашу продуктивность, поможет успевать больше в течение дня и всегда быть на шаг впереди!
        </div>
        <div class="articles-item-active">
          <a href="#">Читать дальше</a>
        </div>
      </div>
    </div>
    <div class="articles-next">
      Перейти в блог
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5.44392 1C5.59871 1 5.75349 1.05652 5.87569 1.17765L11.1873 6.44254C12.0508 7.29849 12.0508 8.70353 11.1873 9.55948L5.87569 14.8244C5.63944 15.0585 5.2484 15.0585 5.01215 14.8244C4.7759 14.5902 4.7759 14.2026 5.01215 13.9684L10.3238 8.70353C10.7148 8.31593 10.7148 7.68608 10.3238 7.29849L5.01215 2.0336C4.7759 1.79942 4.7759 1.41182 5.01215 1.17765C5.13435 1.0646 5.28914 1 5.44392 1Z"
          fill="#709FDC"/>
      </svg>
    </div>
  </div>
</section>
