@import "../../../assets/styles/variables";

.main {
  margin-bottom: 120px;

  .container {
    position: relative;

    .main-arrows {

      .main-arrow-left {
        position: absolute;
        left: 10px;
        top: 236px;
        z-index: 10;
        cursor: pointer;

        svg {
          fill: white;
        }
      }

      .main-arrow-right {
        position: absolute;
        right: 10px;
        top: 236px;
        z-index: 10;
        cursor: pointer;

        svg {
          fill: white;
        }
      }
    }

    .main-info {
      padding-top: 100px;
      padding-left: 65px;
      padding-bottom: 88px;
      background-image: url("/../../../assets/images/page/ellipse.png");
      background-repeat: no-repeat;
      height: 500px;
      box-sizing: border-box;


      .main-pre-title {
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: $base-blue-color;
      }

      .main-title {
        font-family: Lora, sans-serif;
        font-size: 50px;
        font-weight: 400;
        line-height: 65px;
        color: #FFFFFF;
        margin-bottom: 40px;
        max-width: 610px;

        span {
          color: $base-blue-color;
        }
      }

      .main-text {
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 31px;
        margin-bottom: 50px;
        color: white;
        max-width: 456px;
        margin-top: -20px;
      }

      .button {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .main-image {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      max-height: 500px;

      img {
        max-height: 500px;
      }
    }
  }
}

.services {
  margin-bottom: 120px;

  .container {

    .services-title {
      font-family: Lora, sans-serif;
      font-size: 38px;
      font-weight: 400;
      color: $base-blue-color;
      margin-bottom: 40px;
    }

    .services-items {
      display: flex;
      justify-content: space-between;

      .services-item {
        max-width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .services-item-image {
          width: 290px;
          height: 291px;
        }


        .services-item-title {
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: $base-blue-color;
          margin-top: 15px;
          margin-bottom: 10px;
        }

        .services-item-text {
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: $base-black-color;
        }

        .services-item-active {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;

          .services-item-active-price {
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: $base-blue-color;
          }

          .button {
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.advantages {
  margin-bottom: 120px;

  .container {
    display: flex;

    .advantages-image {
      margin-right: 68px;
    }

    .advantages-info {

      span {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #1E1A2B;
      }

      .advantages-info-title {
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        color: $base-blue-color;
        margin-bottom: 20px;
      }

      .advantages-info-text {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 40px;
      }

      .advantages-info-name {
        font-family: Lora, sans-serif;
        font-size: 26px;
        font-weight: 400;
        color: $base-blue-color;
        margin-bottom: 20px;
      }

      .advantages-info-items {
        display: grid;
        grid-template-columns: 316px 316px;
        column-gap: 71px;
        row-gap: 20px;

        .advantages-info-item {
          display: flex;
          align-items: center;
          width: 316px;
          height: 90px;

          .advantages-info-item-number {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            background-color: #B9D5FD;
            border-radius: 50%;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-family: Lora, sans-serif;
              font-size: 50px;
              font-weight: 500;
              color: $base-blue-color;
              margin-bottom: 15px;
            }
          }

          .advantages-info-item-description {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: #1E1A2B;
          }
        }
      }
    }
  }
}

.articles {
  margin-bottom: 120px;

  .container {

    .articles-title {
      font-family: Lora, sans-serif;
      font-size: 38px;
      font-weight: 400;
      color: $base-blue-color;
      margin-bottom: 40px;
    }

    .articles-items {
      display: flex;
      justify-content: space-between;
      max-width: 292px;
    }

    .articles-next {
      display: flex;
      align-items: center;
      justify-content: end;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: $base-blue-color;
      cursor: pointer;
      text-decoration: none;

      svg {
        margin-left: 14px;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  .container {
    position: relative;

    .reviews-title {
      font-family: Lora, sans-serif;
      font-size: 38px;
      font-weight: 400;
      color: $base-blue-color;
      margin-bottom: 20px;
    }

    .reviews-arrows {
      .reviews-arrow-left {
        position: absolute;
        left: -25px;
        bottom: 126px;
        cursor: pointer;
        z-index: 10;
      }

      .reviews-arrow-right {
        position: absolute;
        right: -25px;
        bottom: 126px;
        cursor: pointer;
        z-index: 10;
      }
    }

    .reviews-item {
      border: 2px solid #709FDC;
      border-radius: 5px;
      padding: 30px;
      width: 396px;
      height: 267px;
      box-sizing: border-box;
      margin-right: 25px;

      .reviews-item-name {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        img {
          width: 60px;
          height: 60px;
        }

        span {
          margin-left: 26px;
          font-family: Montserrat, sans-serif;
          font-size: 18px;
          font-weight: 600;
          color: $base-blue-color;
        }
      }

      .reviews-item-text {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $base-black-color;
      }
    }
  }
}

.connection {
  margin-bottom: 120px;

  .container {
    display: flex;

    .connection-map {
      margin-right: 26px;
    }

    .connection-contacts {

      .connection-contacts-title {
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        color: $base-blue-color;
      }

      .connection-contacts-item {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        .connection-contacts-item-title {
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: $base-blue-color;
          margin-bottom: 10px;
        }

        .connection-contacts-item-text {
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: $base-black-color;
          max-width: 501px;

          a {
            margin-right: 20px;
            cursor: pointer;
            text-decoration: none;
            font-family: Montserrat,sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: $base-black-color;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.popup-main {

  .hide-text {
    margin-top: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: red;
    //color: transparent;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select::-ms-expand {
    display: none;
  }
}
