<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input" placeholder="Электронная почта" formControlName="email">
        </div>
        <div class="auth-input">
          <input type="password" class="input" placeholder="Пароль" formControlName="password">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember" formControlName="rememberMe">
          <label for="remember">Запомнить меня</label>
        </div>
      </div>
      <div class="auth-button">
        <button class="button">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта?<a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>
    <div class="page-image">
      <img src="/assets/images/page/login.png" alt="Login">
    </div>
  </div>
</section>
