html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.menu {
  padding: 0;

  ul {
    padding: 0;
    display: flex;
    align-items: center;

    li {
      list-style: none;
      cursor: pointer;

      a {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $base-black-color;
        text-decoration: none;

        &:active {
          color: #709FDC;
        }
      }
    }
  }
}

.button {
  background: #709FDC;
  border-radius: 5px;
  border: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  padding: 15px;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.input {
  width: 100%;
  border: 2px solid #709FDC;
  color: black;
  padding: 17px 20px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;

  &::placeholder {
    color: #A8ABA7;
  }
}

